@model RecipeModel.Models.RecipeIngredient

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <br />
    <div class="row" style="align-items:center">
        <div class="col">
            <h3>Delete your ingredients</h3>
        </div>
        <div class="col">
            <img src="~/Images/delete.png" style="float:right">
        </div>
    </div>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                Ingredient
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ingredient.Name)
            </dd>
            <dt class="col-sm-2">
                Brand
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Brand.Name)
            </dd>
            <dt class="col-sm-2">
                Amount
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Amount)
            </dd>
            <dt class="col-sm-2">
                Measurement
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Measurement)
            </dd>
        </dl>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="RecipeId" />
        <input type="hidden" asp-for="IngredientId" />
        <input type="hidden" asp-for="BrandId" />
        <br/>
        <a class="btn btn-outline-secondary" asp-controller="RecipeIngredients" asp-action="IngredientsInRecipe" asp-route-recipeId="@Model.RecipeId">Back</a> | 
        <input type="submit" value="Delete" class="btn btn-outline-danger" />
    </form>
   
</body>
</html>