@using Microsoft.AspNetCore.Identity
@using RecipeModel.Models
@using RecipeModel.Methods

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            /*<li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserDetails.GetName(User)!</a>
            </li>*/
            <li class="nav-item dropdown show" >
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserDetails.GetName(User)</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" asp-controller="Recipes" asp-action="Create">Add recipe</a>
                    <a class="dropdown-item" asp-controller="Recipes" asp-action="GetUserRecipes" asp-route-userId="@UserManager.GetUserId(User)">My Recipes</a>
                    <a class="dropdown-item" href="#">Favourite recipes</a>
                    <div class="dropdown-divider"></div>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("IndexImage", "Recipes", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </div>
            </li>
            <img width="100" height="50" src="~/Images/user2.svg" />
            /* <li class="nav-item" style="margin-right:30px">
                 <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                     <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                 </form>
             </li>*/
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
