@model RecipeModel.ViewModel.RecipeDetails
@using Microsoft.AspNetCore.Identity
@using RecipeModel.Models

@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "RecImgDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/requests.js" asp-append-version="true"></script>
    <script type="text/javascript">
        getRatingForUserAndRecipe(@Model.Recipe.Id, '@UserManager.GetUserId(User)');
        getAverageRatingForRecipe(@Model.Recipe.Id);
        getIsFavourite('@UserManager.GetUserId(User)',@Model.Recipe.Id);
    </script>

    <style>
        .rating {
            unicode-bidi: bidi-override;
            direction: rtl;
        }

        .rating > span {
            display: inline-block;
            position: relative;
            font-size: 24px;
            color: #9dd1c2;
        }

        .rating > span:hover:before,
        .rating > span:hover ~ span:before {
            color: #f3969a;
        }

        .favourite {
            position: relative;
            font-size: 40px;
            color: #808080;
            float: right;
        }

        .favourite:hover {
            color: #e23232;
        }

    </style>
</head>
<body>
    <div id="warning" class="alert alert-dismissible alert-warning" style="display:none">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Warning!</h4>
        <p id="warningText" class="mb-0"></p>
    </div>
    <div>
        <br />
        <div class="row">
            <div class="col">
                <h3>@Html.DisplayFor(model => model.Recipe.Name)</h3>
            </div>
            <div class="col" style="justify-content:right">
                <span class="fa fa-heart favourite" onclick="favouriteClicked(event,'@UserManager.GetUserId(User)',@Model.Recipe.Id)"></span>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <div class="row">
                    <img width="35" height="35" src="~/Images/mixer.png" style="margin-left:10px" />
                    <p class="font-weight-bold" style="padding: 4px 0px 4px 4px">Preparation time:</p>
                    <p style="padding: 4px 0px 4px 4px">@Html.DisplayFor(model => model.Recipe.PreparationTime)'</p>
                </div>
                <div class="row">
                    <img width="35" height="35" src="~/Images/oven.png" style="margin-left: 10px " />
                    <p class="font-weight-bold" style=" padding: 4px 0px 4px 4px">Cook time:</p>
                    <p style="padding: 4px 0px 4px 4px">@Html.DisplayFor(model => model.Recipe.BakingTime)'</p>
                </div>
                <div class="row">
                    <img width="35" height="35" src="~/Images/cutlery.png" style="margin-left:10px" />
                    <p class="font-weight-bold" style="padding: 4px 0px 4px 4px">Serving size:</p>
                    <p style="padding: 4px 0px 4px 4px">@Html.DisplayFor(model => model.Recipe.ServingSize)</p>
                </div>
                <div class="row">
                    <img width="35" height="35" src="~/Images/world.png" style="margin-left:10px" />
                    <p class="font-weight-bold" style="padding: 4px 0px 4px 4px">Cuisine:</p>
                    <p style="padding: 4px 0px 4px 4px">@Html.DisplayFor(model => model.Recipe.Cuisine)</p>
                </div>
                <div class="row">
                    <img width="35" height="35" src="~/Images/serve.png" style="margin-left:10px" />
                    <p class="font-weight-bold" style="padding: 4px 0px 4px 4px">Course:</p>
                    <p style="padding: 4px 0px 4px 4px">@Html.DisplayFor(model => model.Recipe.Category)</p>
                </div>
                <div class="row">
                    <img width="35" height="35" src="~/Images/cooking.png" style="margin-left:10px" />
                    <p class="font-weight-bold" style="padding: 4px 0px 4px 4px">Author:</p>
                    <a asp-controller="Home" asp-action="Chat"><p style="padding: 4px 0px 4px 4px">@Html.DisplayFor(model => model.AppUser.Name)</p></a>
                </div>
                <div class="row">
                    <img width="35" height="35" src="~/Images/schedule.png" style="margin-left:10px" />
                    <p class="font-weight-bold" style="padding: 4px 0px 4px 4px">Creation date:</p>
                    <p style="padding: 4px 0px 4px 4px">@Html.DisplayFor(model => model.CreationDate)</p>
                </div>
            </div>
            <div class="col">
                <img src="/@Model.Image.Filepath" width="600" height="400" />
            </div>
        </div>
        <hr />
        <p style="font-weight:bold">Ingredients</p>
        <ul>
            @foreach (var item in Model.RecipeIngredients)
            {
                <li>@Html.DisplayFor(model => item.Amount) @Html.DisplayFor(model => item.Measurement) @Html.DisplayFor(model => item.Ingredient.Name) @Html.DisplayFor(model => item.Brand.Name)  </li>
            }
        </ul>
        <hr />
        <div>
            <p style="font-weight:bold">Instructions</p>
            <p>@Html.DisplayFor(model => model.Recipe.Instructions)</p>
        </div>
        <hr />
        <h5>Rate @Html.DisplayFor(model => model.AppUser.Name)'s recipe!</h5>
        <div class="rating">
            <span id="star-5" class="fa fa-star" onclick="addRating(event,'@UserManager.GetUserId(User)',@Model.Recipe.Id)"></span>
            <span id="star-4" class="fa fa-star" onclick="addRating(event,'@UserManager.GetUserId(User)',@Model.Recipe.Id)"></span>
            <span id="star-3" class="fa fa-star" onclick="addRating(event,'@UserManager.GetUserId(User)',@Model.Recipe.Id)"></span>
            <span id="star-2" class="fa fa-star" onclick="addRating(event,'@UserManager.GetUserId(User)',@Model.Recipe.Id)"></span>
            <span id="star-1" class="fa fa-star" onclick="addRating(event,'@UserManager.GetUserId(User)',@Model.Recipe.Id)"></span>
        </div>
        <div>
            <p id="average"></p>
        </div>
    </div>

</body>
</html>


